services:
  Evrinoma\PackingListBundle\Controller\PackingListApiController:
    alias: evrinoma.packing_list.packing_list.api.controller
    public: true

  evrinoma.packing_list.packing_list.api.controller:
    class: Evrinoma\PackingListBundle\Controller\PackingListApiController
    arguments:
      - '@jms_serializer'
      - '@request_stack'
      - '@evrinoma.dto.factory'
      - '@evrinoma.packing_list.packing_list.facade'
    autowire: true

  evrinoma.packing_list.packing_list.facade:
    class: Evrinoma\PackingListBundle\Facade\PackingList\Facade
    arguments:
      - '@evrinoma.packing_list.packing_list.command.manager'
      - '@evrinoma.packing_list.packing_list.query.manager'
      - '@evrinoma.packing_list.adaptor'
    autowire: true

  Evrinoma\PackingListBundle\Facade\PackingList\FacadeInterface:
    alias: evrinoma.packing_list.packing_list.facade

  evrinoma.packing_list.packing_list.factory:
    class: Evrinoma\PackingListBundle\Factory\PackingListFactory
    public: true
    arguments:

  evrinoma.packing_list.packing_list.api.repository:
    class: Evrinoma\PackingListBundle\Repository\Api\PackingList\PackingListRepository
    public: true
    arguments:

  evrinoma.packing_list.packing_list.command.manager:
    class: Evrinoma\PackingListBundle\Manager\PackingList\CommandManager
    arguments:
      - '@evrinoma.packing_list.packing_list.validator'
      - '@evrinoma.packing_list.packing_list.repository'
      - '@evrinoma.packing_list.packing_list.factory'
      - '@evrinoma.packing_list.packing_list.command.mediator'

  Evrinoma\PackingListBundle\Manager\PackingList\CommandManagerInterface:
    alias: evrinoma.packing_list.packing_list.command.manager

  evrinoma.packing_list.packing_list.query.manager:
    class: Evrinoma\PackingListBundle\Manager\PackingList\QueryManager
    arguments:
      - '@evrinoma.packing_list.packing_list.repository'

  Evrinoma\PackingListBundle\Manager\PackingList\QueryManagerInterface:
    alias: evrinoma.packing_list.packing_list.query.manager

  evrinoma.packing_list.packing_list.validator:
    class: Evrinoma\PackingListBundle\Validator\PackingListValidator
    public: true
    arguments:

  Evrinoma\PackingListBundle\Validator\PackingListValidator:
    alias: evrinoma.packing_list.packing_list.validator

  evrinoma.packing_list.packing_list.query.api.mediator:
    class: Evrinoma\PackingListBundle\Mediator\PackingList\Api\QueryMediator
    public: true
    arguments:

  Evrinoma\PackingListBundle\Mediator\PackingList\Api\QueryMediator:
    alias: evrinoma.packing_list.packing_list.query.api.mediator

  evrinoma.packing_list.packing_list.command.mediator:
    class: Evrinoma\PackingListBundle\Mediator\PackingList\CommandMediator
    public: true
    arguments:

  Evrinoma\PackingListBundle\Mediator\PackingList\CommandMediator:
    alias: evrinoma.packing_list.packing_list.command.mediator

  Evrinoma\PackingListBundle\Mediator\PackingList\CommandMediatorInterface:
    alias: evrinoma.packing_list.packing_list.command.mediator

  evrinoma.packing_list.packing_list.pre.validator:
    class: Evrinoma\PackingListBundle\PreValidator\PackingList\DtoPreValidator
    public: true
    arguments:

  Evrinoma\PackingListBundle\PreValidator\PackingList\DtoPreValidator:
    alias: evrinoma.packing_list.packing_list.pre.validator

  Evrinoma\PackingListBundle\PreValidator\PackingList\DtoPreValidatorInterface:
    alias: evrinoma.packing_list.packing_list.pre.validator
